loguru==0.7.1
questionary==2.0.1
starknet-py==0.18.2
tabulate==0.9.0
requests==2.31.0
tqdm==4.66.1
web3==6.9.0
fastapi==0.103.1
uvicorn~=0.23.2
pydantic~=1.10.12
SQLAlchemy~=2.0.22
aiohttp~=3.8.5
hexbytes~=0.3.1
gunicorn~=21.2.0
psycopg2-binary~=2.9.9
alembic~=1.12.1